.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: opacity 0.5s;
}

.position-relative:hover .card-img-overlay {
  opacity: 1;
}
.fit-image {
  object-fit: cover;
  height: 18.6em;
  width: 100%;
}
